<div class="container">
    <div class="container">
        <h2>GeoJobs</h2>
        <p>Geolocate jobs</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Job name</th>
                    <th>Longitude</th>
                    <th>Latitude</th>
                    <th>Description</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of content">
                    <td>{{item.id}}</td>
                    <td>{{item.task_name}}</td>
                    <td>{{item.long}}</td>
                    <td>{{item.lat}}</td>
                    <td>{{item.desc}}</td>
                    <td><button class="btn btn-small btn-danger" (click)="delete(item)">Delete</button></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!--The div element for the map -->
    <agm-map [latitude]="lat" [longitude]="lng" (mapReady)="onMapReady($event)">
        <agm-marker [latitude]="marker.position.lat" [longitude]="marker.position.lng" *ngFor="let marker of markers"></agm-marker>
      </agm-map>
      <p>Double click on the map to generate new marker</p>
</div>
